{% extends "mendaftarkan_skema_beasiswa/layout/base.html" %}
{% block content %}
<style type="text/css">
  .form-control{
    margin-bottom: 20px;
  }
</style>
<br>
<div class="container">
  <div class="row">
    <div class="align-self-center col-md-6 text-white">
      <h1 class="text-center text-md-left display-3" style="color: black;">Simbion</h1>
      <p class="lead" style="color: black;">Membuat Beasiswa Baru</p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-5">
          {% if kode_double %}
              <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Kode sudah ada.
            </div>
          {% endif %}
          <form id="form" method="POST" action="{% url 'mendaftarkan-skema-beasiswa:beasiswa_baru' %}">
            {% csrf_token %}
            {{ beasiswaBaru_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
<br>
{% endblock %}
<!-- {% block javascript %}
<script type="text/javascript">
  $("#id_kode").change(function () {
      var kode = $(this).val();
      console.log(kode);
      $.ajax({
        url: '/check/kode/',
        data: {
          'kode': kode
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("Kode tersebut sudah ada.");
          }
        }
      }); 
    });
</script>
{% endblock %} -->