{% extends "mendaftarkan_skema_beasiswa/layout/base.html" %}
{% block content %}
<style type="text/css">
  .form-control{
    margin-bottom: 20px;
  }
</style>
<br>
<div class="container">
  <div class="row">
    <div class="align-self-center col-md-6 text-white">
      <h1 class="text-center text-md-left display-3" style="color: black;">Simbion</h1>
      <p class="lead" style="color: black;">Menambahkan Beasiswa dari Paket</p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-5">
          {% if not_unique %}
              <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Kode beasiswa dan Nomor Urut harus unik!
            </div>
          {% endif %}
          <form id="form" method="POST" action="{% url 'mendaftarkan-skema-beasiswa:paket_beasiswa' %}">  
          <label for="id_kode_beasiswa">Kode beasiswa:</label>
          <select name="kode_beasiswa" class="form-control" required="" id="id_kode_beasiswa">
          {% for objects in kode %}
            <option value="{{objects.kode}}">{{objects.kode}}</option>
          {% endfor %}
          </select>
              {% csrf_token %}
              {{ beasiswa_form }}
              <label for="id_tanggal_mulai_pendaftaran">Tanggal mulai pendaftaran:</label>
              <input type="date" name="tanggal_mulai_pendaftaran" value="YYYY-DD-MM" class="form-control" required="" id="id_tanggal_mulai_pendaftaran">
              <label for="id_tanggal_tutup_pendaftaran">Tanggal tutup pendaftaran:</label>
              <input type="date" name="tanggal_tutup_pendaftaran" value="YYYY-DD-MM" class="form-control" required="" id="id_tanggal_tutup_pendaftaran">
              <br>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
<br>
{% endblock %}