{% extends "mendaftarkan_skema_beasiswa/layout/base.html" %}
{% block content %}
<style type="text/css">
	.py-5{
		padding-top: 7em!important;
		padding-bottom: 7em!important;
	}
</style>
<div class="py-5 text-center backside" style="background-image: url(http://hibbing.edu//assets/images/0/meta/10-0.graduation-wallpapers.jpg);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          {% if allowed %}
          <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
          <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          <a href="{% url 'mendaftarkan-skema-beasiswa:pendaftaran_beasiswa' %}" class="btn btn-lg mx-1 btn-secondary">Membuat Paket Beasiswa Baru</a><hr>
          <a href="{% url 'mendaftarkan-skema-beasiswa:beasiswa_dari_paket' %}" class="btn btn-lg btn-primary mx-1">Menambahkan Beasiswa dari Paket</a>
          {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Maaf anda tidak bisa mengakses halaman ini.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div> 
{% endblock %}