{% extends "melihat_informasi_beasiswa_aktif/layout/base.html" %}
{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="align-self-center col-md-6 text-white">
      <h1 class="text-center text-md-left display-4" style="color: black;">{{beasiswa.nama}}</h1>
      <p class="lead" style="color: black;">{{beasiswa.kode}}</p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body p-5">
          <h5>Jenis Beasiswa : {{beasiswa.jenis}}</h5>
          <h5>Nomor Identitas Donatur : {{beasiswa.no_identitas_donatur}}</h5>
          <p>{{beasiswa.deskripsi}}</p>
          <p>Syarat Beasiswa : {{beasiswaSyarat.syarat}}</p>
          <p>Status Beasiswa : {{beasiswaAktif.status}}</p>
          {% if beasiswaAktif.status == "Buka" %}
          {% if mahasiswa %}
          <a href="{% url 'melihat_informasi_beasiswa_aktif:indexKodeBeasiswa' beasiswa.kode %}" class="btn btn-lg btn-primary">Daftar</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div> 
<br>
{% endblock %}