{% extends "melihat_informasi_beasiswa_aktif/layout/base.html" %}
{% block content %}
<style type="text/css">
  .py-5{
    padding-top: 6em!important;
    padding-bottom: 6em!important;
  }
</style>
<div class="py-5 text-center backside" style="background-image: url(http://hibbing.edu//assets/images/0/meta/10-0.graduation-wallpapers.jpg);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">SIMBION</h1>
          <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
          {% if not_logged_in %} 
          <br><br>
          <a href="{% url 'login:index' %}" class="btn btn-lg btn-warning mx-1">Login/Register</a>
          {% else %}
          <a href="{% url 'daftar_calon_penerima_beasiswa:index' %}" class="btn btn-lg mx-1 btn-secondary">Daftar Beasiswa</a>
          {% endif %}
          <hr>
          <a href="{% url 'melihat_informasi_beasiswa_aktif:index'%}#lowongan " class="btn btn-lg btn-primary mx-1">List Lowongan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 bg-secondary" id="lowongan">
    <h2 class="text-primary" align="middle">List Lowongan</h2>
    <hr>
      {% if beasiswa %}
      {% for b in beasiswa %}
      {% for bb in beasiswaAsli %}
      {% if b.kode_skema_beasiswa == bb.kode %}
      <div class="card">
        <div class="card-block p-4">
          <h5>{{bb.nama}} - {{b.kode_skema_beasiswa}}</h5>
          <h5>Periode penerimaan : {{b.periode_penerimaan}}</h5>
          <p>Status Beasiswa : {{b.status}}</p>
          <p>Jumlah Pendaftar : {{b.jumlah_pendaftar}}</p>
          <a href="{% url 'melihat_informasi_beasiswa_aktif:detail-beasiswa' b.kode_skema_beasiswa b.no_urut %}" class="btn btn-lg btn-primary">Lihat Detail</a>
        </div>
      </div>
      <br>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% endif %}
  </div>  
{% endblock %}