{% load static %}
<style media="screen">
  .navbar{
    height: 50px;
    background-color: #0275d8;  
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
}

@media only screen and (max-width: 768px){
  .navbar-nav{
    background-color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: black;
}

}
</style>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="z-index: 1;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
</div>
</nav>