{% extends "melihat_informasi_beasiswa_aktif/layout/base.html" %}
{% block content %}
    <style>

        *{
            font-family: 'Droid Sans', sans-serif;
        }
        .main{
            text-align: center;
            height: 725px;
        }

        .main h2{
            font-size: 50px;
            margin-top: 0px;
            padding-top: 125px;
        }

        .font_form{
            font-size: 25px;
        }

        .main form h5{
            font-size: 25px;
        }

        .main h5{
            font-size: 20px;
        }

    </style>

    <div class="main">

            <h2><strong>Simbion</strong></h2>

            <br><br>

            <form style="font-size: 25px; margin-top: 25px" action="{% url 'login:auth_login' %}" method="POST">
                {% csrf_token %}
                {% csrf_token %}
                <p>
                    <label for="username"> Username </label>
                    <input type="text" name="username" required>
                </p>
                <p>
                    <label for="password"> Password </label>
                    <input type="password" name="password" required>
                </p>
                <input type="submit" value = "Submit">
            </form>

            <h5 >Pengguna baru? <a href="{% url 'register:index'%}" class="btn btn-primary">Daftar sekarang</a></h5>

    </div>
{% endblock %}
