{% extends "melihat_informasi_beasiswa_aktif/layout/base.html" %}
{% block content %}
    <style>


        *{
            font-family: 'Droid Sans', sans-serif;
        }
        .main{
            text-align: center;
            min-height: 725px;
            padding-left: 75px;
            padding-right: 75px;
        }

        .main h2{
            font-size: 50px;
            margin-top: 0px;
            padding-top: 75px;
        }

        .font_form{
            font-size: 25px;
        }

        .main form h5{
            font-size: 25px;
        }

        .main h5{
            font-size: 18px;
        }

    </style>

    <div class="main">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <div>
            <h2><strong>Daftar Anggota SIMBION</strong></h2>
            <br><br>
            <h4>
                SIMBION merupakan Portal Beasiswa yang diperuntukkan bagi Mahasiswa-mahasiswa Universitas Indonesia.
                <br><br>
                Bagi para mahasiswa aktif Universitas Indonesia, anda dapat mendaftarkan akun SIMBION agar dapat mengajukan diri dalam skema-skema beasiswa yang ada.
                <br><br>
                Anda juga bisa mendaftar sebagai Donatur yang dapat membuka skema beasiswa sesuai keinginan anda, anda dapat mendaftar sebagai donatur pribadi maupun donatur yayasan.

            </h4>
        </div>

        <br><br>

        <div style="align-content: center">
            <div class="col-sm-4">
                <h1>Mahasiswa</h1>

                <h5>
                    Anda harus merupakan mahasiswa aktif terdaftar di Universitas Indonesia.
                    Setiap anggota yang hendak menganjukan pendaftaran beasiswa harus memenuhi syarat-syarat
                    yang telah ditentukan oleh masing-masing skema beasiswa.
                    <br><br>
                    Silakan klik link dibawah ini untuk mendaftarkan diri
                </h5>

                <h4><strong><a class="btn btn-primary" href="{% url 'register:kategori' 1 %}">Daftar sebagai Mahasiswa</a></strong></h4>
            </div>

            <div class="col-sm-4">
                <h1>Donatur Pribadi</h1>

                <h5>
                    Untuk mendaftar sebagai donatur pribadi, anda tidak boleh terikat pada suatu yayasan dalam pembukaan dan pembinaan skema beasiswa, setiap skema beasiswa yang ditawarkan harus melalui proses verifikasi oleh pihak Universitas Indonesia
                    <br><br>
                    Silakan klik link dibawah ini untuk mendaftarkan diri
                </h5>

                <h4><strong><a class="btn btn-primary" href="{% url 'register:kategori' 2 %}">Daftar sebagai Donatur Pribadi</a></strong></h4>
            </div>

            <div class="col-sm-4">
                <h1>Donatur Yayasan</h1>

                <h5>
                    Pastikan yayasan anda terdaftar secara resmi sesuai hukum yang berlaku di Indonesia, dan masih aktif selama skema beasiswa masih berlangsung. Setiap skema beasiswa yang ditawarkan harus melalui proses verifikasi oleh pihak Universitas Indonesia
                    <br><br>
                    Silakan klik link dibawah ini untuk mendaftarkan diri
                </h5>
                <h4><strong><a class="btn btn-primary" href="{% url 'register:kategori' 3 %}">Daftar sebagai Donatur Yayasan</a></strong></h4>
            </div>
        </div>
    </div>
{% endblock %}
