{% extends "melihat_informasi_beasiswa_aktif/layout/base.html" %}
{% block content %}
    <style>

        *{
            font-family: 'Droid Sans', sans-serif;
        }
        .main{
            text-align: center;
            min-height: 650px;
            padding-left: 250px;
            padding-right: 250px;
        }

        .main h2{
            font-size: 50px;
            margin-top: 0px;
            padding-top: 75px;
        }

        .font_form{
            font-size: 25px;
            margin-top: 25px;
        }

        .main form h5{
            font-size: 25px;
        }

        .main h5{
            font-size: 20px;
        }

    </style>

    <div class="main" style="padding-bottom: 50px">

            <div>
                <h2><strong>Pendaftaran Mahasiswa</strong></h2>
                <br><br>
                <h4>
                    Lengkapi semua data yang diperlukan, isian dengan tanda * wajib diisi.
                </h4>
            </div>


            <div style="text-align: left">

                <form style="font-size: 20px" action="{% url 'register:reg_mhs' %}" method="POST">

                    {% csrf_token %}

                    <h5 class="font_form">Username*</h5>
                    <input type="text" name="username" required>

                    <h5 class="font_form">Password*</h5>
                    <input type="password" name="password" required>

                    <h5 class="font_form">NPM*</h5>
                    <input type="number" name="npm" required>

                    <h5 class="font_form">Email*</h5>
                    <input type="email" name="email" required>

                    <h5 class="font_form">Nama Lengkap*</h5>
                    <input type="text" name="nama_lengkap" required>

                    <h5 class="font_form">Nomor Telepon</h5>
                    <input type="number" name="no_telp" value="0">

                    <h5 class="font_form">Alamat Tempat Tinggal*</h5>
                    <input type="text" name="alamat_t" required>

                    <h5 class="font_form">Alamat Domisili*</h5>
                    <input type="text" name="alamat_d" required>

                    <h5 class="font_form">Instansi Bank*</h5>
                    <input type="text" name="instansi_bank" required>

                    <h5 class="font_form">Nomor Rekening*</h5>
                    <input type="number" name="no_rek" required>

                    <h5 class="font_form">Nama Pemilik*</h5>
                    <input type="text" name="nama_pemilik" required>

                    <br><br>
                    <input type="submit" value = "Submit">
            </form>
            </div>


        </div>
{% endblock %}
