{% extends "melihat_informasi_beasiswa_aktif/layout/base.html" %}
{% block content %}
    <style>

        *{
            font-family: 'Droid Sans', sans-serif;
        }
        .main{
            text-align: center;
            min-height: 650px;
            padding-left: 250px;
            padding-right: 250px;
        }

        .main h2{
            font-size: 50px;
            margin-top: 0px;
            padding-top: 75px;
        }

        .font_form{
            font-size: 25px;
            margin-top: 25px;
        }

        .main form h5{
            font-size: 25px;
        }

        .main h5{
            font-size: 20px;
        }

    </style>

    <div class="main" style="padding-bottom: 50px">

            <div>
                <h2><strong>Pendaftaran Donatur Yayasan</strong></h2>
                <br><br>
                <h4>
                    Lengkapi semua data yang diperlukan, isian dengan tanda * wajib diisi.
                </h4>
            </div>


            <div style="text-align: left">

                <form style="font-size: 20px" action="{% url 'register:reg_dy' %}" method="POST">

                    {% csrf_token %}

                    <h5 class="font_form">Username*</h5>
                    <input type="text" name="username" required>

                    <h5 class="font_form">Password*</h5>
                    <input type="password" name="password" required>

                    <h5 class="font_form">Nomor Identitas*</h5>
                    <input type="number" name="no_id" required>

                    <h5 class="font_form">Nama Yayasan*</h5>
                    <input type="text" name="nama_yayasan" required>

                    <h5 class="font_form">Nomor SK Yayasan*</h5>
                    <input type="number" name="no_sk" required>

                    <h5 class="font_form">Email*</h5>
                    <input type="email" name="email" required>

                    <h5 class="font_form">Nama CP*</h5>
                    <input type="text" name="nama_cp" required>

                    <h5 class="font_form">No Telp CP*</h5>
                    <input type="number" name="no_telp" value="0">

                    <h5 class="font_form">NPWP*</h5>
                    <input type="number" name="npwp" required>

                    <h5 class="font_form">Alamat Yayasan*</h5>
                    <input type="text" name="alamat" required>

                    <br><br>
                    <input type="submit" value = "Submit">
            </form>
            </div>


        </div>

{% endblock %}
