{% load static %}
<style media="screen">
  .navbar{
    height: 50px;
    background-color: #0275d8;  
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: white;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
}

}
</style>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="z-index: 1;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="nav-link" href="{% url 'melihat-informasi-beasiswa-aktif:index' %}" style="color: white;">Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% if mahasiswa %}
      <li class="nav-item">
        <a class="nav-link" href="#">Lihat Pengumuman</a>
      </li>
      </ul>
      </div>
      {% if username %}
      <a class="nav-link pull-right btn btn-danger" style="color: white" href="{% url 'login:auth_logout' %}" onclick="return confirm('Are you sure?')">Log out</a>
      {% endif %}
      {% endif %}
      {% if donatur %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list-beasiswa:index' %}">List Beasiswa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mendaftarkan-skema-beasiswa:index' %}">Daftarkan Beasiswa</a>
      </li>
    </ul>
  </div>
    <a class="nav-link pull-right btn btn-danger" style="color: white" href="{% url 'login:auth_logout' %}" onclick="return confirm('Are you sure?')">Log out</a>
      {% endif %}
</div>
</nav>