{% extends "daftar_calon_penerima_beasiswa/layout/base.html" %}
{% block content %}

<div>
    <h2>FORM PENDAFTARAN BEASISWA</h2>
    <form method="POST" action="{% url 'daftar_calon_penerima_beasiswa:daftar-beasiswa' %}">
        {% csrf_token %}
        {{ formBeasiswa }}
        <input type="submit" value="submit" />
    </form>
</div>

{% endblock %}