{% load static %}
<div class="bg-dark text-white" style="background-color: #0275d8">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">Simbion
            <br>
          </h2>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-secondary">Directory</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Home</a>
            <br>
            <a href="#" class="text-white">About us</a>
            <br>
            <a href="#" class="text-white">Our services</a>
            <br>
            <a href="#" class="text-white">Stories</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4">Contact</h2>
          <p>
            <a href="#" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-phone"></i>1234567890</a></p>
          <p>
            <a href="#" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>admin@simbion.com</a></p>
          <p>
            <a href="#" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>Universitas Indonesia</a></p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-light">Subscribe</h2>
          <form>
            <fieldset class="form-group text-white">
              <label for="exampleInputEmail1">Get our newsletter</label>
              <input type="email" class="form-control" placeholder="Enter email"> </fieldset>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright Hanif Agung Prayoga - Ibnu Sofian Firdaus - Kianutama Radianur - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>