{% extends "tentukan_status_calon/layout/base.html" %}
{% block content %}
<div>
        <h1>Pendaftar Beasiswa</h1>
        <table border="1">
                <thead>
                    <tr>
                        <th>No Urut Pendaftar</th>
                        <th>Nama</th>
                        <th>NPM</th>
                        <th>Waktu Daftar</th>
                        <th>Status Terima</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for item in list_pendaftar %}
                       <tr>
                           <td>{{item.0}}</td>
                           <td>{{item.1}}</td>
                           <td>{{item.2}}</td>
                           <td>{{item.3}}</td>
                           <td>{{item.4}}</td>
                           <td><a href="{% url 'tentukan_status_calon:untuk-update-terima' item.2 %}" class="btn btn-primary">Terima</td>
                            <td><a href="{% url 'tentukan_status_calon:untuk-update-tolak' item.2 %}" class="btn btn-primary">Tolak</td> 
                       </tr> 
                    {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock content %}