{% extends "tentukan_status_calon/layout/base.html" %}
{% block content %}
<div>
    <h1>List Beasiswa</h1>
    <table class="table">
            <thead>
                <tr>
                    <th scope="col">No Urut Skema Beasiswa</th>
                    <th scope="col">Kode Skema</th>
                    <th scope="col">Waktu Penutupan</th>
                    <th scope="col">Status</th>
                    <th scope="col">Jumlah Pendaftar</th>
                </tr>
            </thead>
    
            <tbody>
                {% for item in list_beasiswa %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>   
                    <td>{{ item.4 }}</td>
                    <td><a href="{% url 'tentukan_status_calon:untuk-lihat' item.1 %}" class="btn btn-primary">Detail</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}